body {
    background-color: #181a1b;
    color: white;

    min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;

    display: grid;
    grid-template-columns: 12rem 1fr;
    grid-template-rows: auto 1fr;
}

/* Header Section */
header {
    background-color: #26292b;

    grid-column: 1 / 3;
    grid-row: 1 / 2;

    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0.5rem;
}

/* Sidebar Section */
nav {
    background-color: #1a1c1d;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

ul {
    padding-left: 0;
}

hr {
    height: 1px;
    width: 100%;
    background-color: white;

    margin: 1.5rem 0;
}

.sidebar-projects-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.sidebar-projects {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

/* Main Section */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

section > * {
    max-width: 50rem;
}

.main-header {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    margin-top: 1.5rem;
}

.add-project-item {
    position: absolute;
    right: 0;
}

.main-container {
    width: 100%;
    height: 100%;
}

.main-container.flex {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project-item {
    background-color: grey;
}