/* General */
body {
    background-color: #1a1c1d;
    color: white;

    min-height: 100vh;

    font-family: Helvetica, Arial, sans-serif;

    display: grid;
    grid-template-columns: 12rem 1fr;
    grid-template-rows: auto 1fr;
}

button {
    color: white;
    border-style: none;
    background-color: transparent;

    padding-left: 0;
}

/* Header Section */

.corner {
    background-color: #17181b;
    grid-column: 1;
    grid-row: 1;

    display: flex;
    align-items: center;
}

.menu {
    font-size: 3rem;
    padding-left: 1rem;

    position: absolute;
}

.menu:hover {
    scale: 110%;
    opacity: 50%;
}

header {
    background-color: #17181b;

    grid-column: 2 / 3;
    grid-row: 1 / 2;

    font-size: 2.5rem;
    font-weight: 600;
    padding: 0.5rem;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 3rem;
}

ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

li {
    list-style-type: none;
    padding-left: 0;
}

hr {
    height: 1px;
    width: 100%;
    background-color: white;

    margin: 1.5rem 0;
}

/* Sidebar Section */
nav {
    background-color: #1a1c1d;
    padding: 1rem;

    grid-row: 2;
}

.sidebar-agenda-container {
    display: flex;
    gap: 0.5rem;
}

.sidebar-icon {
    width: 1rem;
}

.sidebar-agenda:hover {
    font-weight: 700;
}

.new-project {
    display: flex;
    align-items: center;
}

.new-project > img {
    width: 1.2rem;
}

.new-project > img:hover {
    scale: 110%;
    opacity: 50%;
}

.sidebar-projects-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.sidebar-projects {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.project-button {
    opacity: 75%;
}

.project-button:hover {
    scale: 105%;
    font-weight: 500;
    color: wheat;
}

.sidebar-project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-project-button {
    width: 1rem;
}

.delete-project-button:hover {
    scale: 110%;
    opacity: 50%;
}

/* Main Section */
.main {
    grid-row: 2;

    background-color: #1f2125;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.main > * {
    max-width: 50rem;
}

.main-header {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    font-size: 1.25rem;
}

.add-project-item {
    position: absolute;
    right: 0;

    display: flex;
    align-items: center;
}

.add-project-item:hover {
    scale: 110%;
    opacity: 50%;
}

.main-container {
    width: 100%;
    height: 100%;
}

.main-container-title {
    font-weight: 700;
}

.main-container.flex {
    display: flex;
    flex-direction: column;
}

.project-item {
    background-color: #17181b3d;
    padding: 0.5rem;
}

.project-item:nth-child(2n) {
    background-color: #17181b07;
}

.project-item-base {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.task-title {
    flex: auto;
    display: flex;
    justify-content: flex-start;
}

.project-item-desc {
    color: rgba(255, 255, 255, 0.479);
    font-size: 0.75rem;
}

.item-action-icon {
    width: 1.15rem;
}

.item-action-icon:hover {
    width: 1.15rem;
    scale: 110%;
    opacity: 50%;
}

/* Dialog */

dialog {
    background-color: #17181b3d;
    border-color: #17181b8f;
}

.form-inputs,
.dialog-form,
.input-container {
    display: flex;
    flex-direction: column;
}

.form-inputs,
.dialog-form {
    gap: 0.5rem;
}

.dialog-form {
    align-items: center;
}

label {
    font-size: 0.85rem;
    color: white;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#submitButton {
    width: 65%;
}

/* Footer */
footer {
    grid-column: 2 / 3;
    padding: 0.25rem;
    background-color: #1f2125;
    position: inherit;
}

footer,
footer > a {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

footer > a {
    text-decoration: none;
}

footer > a:hover {
    scale: 110%;
}

footer > a:visited {
    color: white;
}